<div class="col-md-4">
  <!--プロフィール-->
  <h3>User Info</h3>
  <%= attachment_image_tag user, :profile_image, size:"100x100", fallback:  "/assets/no_image.jpg" %>
  <p><strong>name <%= user.name %></strong></p>
  <p><strong>Introduction <%= user.introduction %></strong></p>
  <p><%= link_to "", edit_user_path(user.id), class: "btn btn-block fas fa-user-cog" %></p>

  <!--プロフィール-->

  <!--投稿フォーム-->
  <h3>New book</h3>
  <%= form_with model:book, local: true do |f| %>
    <p>Title</p>
    <p><%= f.text_field :title %></p>
    <p>Opinion</p>
    <p><%= f.text_area :body %></p>
    <p><%= f.submit "Create Book" %></p>
  <% end %>
  <!--投稿フォーム-->
</div>
